/* add your styles here */

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 10px;
}

img {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin: 60px;


}